<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kauan Gabriel">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../assets/css/login-cadastro/cadastro.css">
    <!-- JS -->
    <script src="https://kit.fontawesome.com/fe41d20d0f.js" crossorigin="anonymous"></script>
    <script src="../assets/script/cadastro.js"></script>
    <!-- TITLE -->
    <title>Project - Cadastro</title>
</head>

<body>

    <!-- HEADER -->

    <header>

        <nav>

            <article>
                <a href="../index.html"><img src="../assets/img/home/icon-controll.png" alt=""></a>
            </article>

            <ul>
                <li><a href="../index.html#home">Inicio</a></li>

                <li><a href="../index.html#sobre">Sobre</a></li>

                <li><a href="../index.html#consoles">Consoles</a></li>

                <li><a href="../index.html#games">Games</a></li>

                <li><a href="../index.html#quiz">Quiz</a></li>
            </ul>

            <ul>
                <li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>
            </ul>

        </nav>

    </header>

    <!-- MAIN -->

    <main>

        <!-- FORMULÁRIO -->

        <div class="form">

            <img src="../assets/img/home/icon-playstation.png" alt="">

            <input type="text" placeholder="Nome" id="inp_nome">

            <input type="email" placeholder="Email" id="inp_email">

            <input type="password" placeholder="Senha" id="inp_senha">

            <input type="password" placeholder="Confirmar Senha" id="inp_confirmar">

            <button onclick="cadastrar()" id="btn_cadastrar">CADASTRAR</button>

            <p>Já tem cadastro? Faça <a href="login.html">login</a></p>

        </div>

    </main>

</body>

</html>