<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- METADATAS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Kauan Gabriel">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/dash/dash.css">
    <link rel="stylesheet" href="../assets/css/dash/quiz.css">
    <link rel="stylesheet" href="../assets/css/dash/ranking.css">
    <link rel="stylesheet" href="../assets/css/dash/progresso.css">

    <!-- JS -->
    
    <script src="../assets/script/session.js"></script>
    <script src="../assets/js/dash/trocaConteudo.js"></script>
    <!-- TITLE -->
    <title>Project - Dash</title>
</head>

<body onload="validarSessao(), ranking()">

    <main>

        <!-- MENU -->

        <div class="menu">


            <!-- PEFIL -->

            <div class="perfil">

                <img src="../assets/img/home/user.png">
                <h3 id="usuario"></h3>

            </div>


            <!-- LISTA DE SEÇÕES -->

            <nav class="secoes">


                <!-- DASHBOARD - NOTIFICAÇÕES - CONFIGURAÇÕES -->

                <ul>
                    <li id="sessao-quiz"><img class="icone" src="../assets/img/dash/quiz.png">Quiz</li>
                    <li id="sessao-ranking"><img class="icone" src="../assets/img/dash/ranking.png">Rankig</li>
                    <li id="sessao-progresso"><img class="icone" src="../assets/img/dash/progress.png">Seu Progresso
                    </li>
                </ul>


                <!-- SAIR DA CONTA -->

                <div class="sair">

                    <img class="icone-sair" src="../assets/img/dash/logout.png">
                    <p id="sair-da-conta"><a href="login.html">Sair da Conta</a></p>

                </div>

            </nav>

        </div>


        <!-- CONTAINER PRINCIPAL -->

        <div class="container">


            <!-- QUIZ CONTAINER -->

            <div id="quiz-container">


                <!-- QUIZ -->

                <div id="quiz">


                    <!-- TITULO DO QUIZ -->

                    <div class="titulo-quiz">
                        <h1>PlayQuiz</h1>
                    </div>


                    <!-- CONTEUDO DO QUIZ -->

                    <div class="conteudo">


                        <!-- CARD QUIZ -->

                        <div class="card-quiz hide">

                            <h2 class="pergunta">Bem vindo ao Quiz da PlayStation! <p>Perguntas baseada no Conteúdo da
                                    home. Responda com Atenção!</p>
                            </h2>



                            <div class="alternativas-container">

                                <div class="alternativas">
                                    <!-- 
                                    <button class="answer button">Alternativa 1</button>
                                    <button class="answer button">Alternativa 2</button>
                                    <button class="answer button">Alternativa 3</button>
                                    <button class="answer button">Alternativa 4</button> -->

                                </div>

                            </div>

                            <div class="div-botoes">
                                <button class="btn-comecar button">Começar</button>
                                <button class="btn-proxima-questao button hide">Proxima Questão</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- RANKING -->

            <div id="ranking-container" style="display: none;">

                <!-- RANKING -->

                <div id="ranking">

                    <!-- TITULO DO RANKING -->

                    <div class="titulo-ranking">
                        <h1>RANKING</h1>
                    </div>

                    <div class="conteudo">

                        <div class="card-ranking">

                            <div class="info">

                                <table>
                                    <tr>
                                        <td class="info-table-content">Posição</td>
                                        <td class="info-table-content">Nome</td>
                                        <td class="info-table-content">ID Quiz</td>
                                        <td class="info-table-content">Data e Hora</td>
                                        <td class="info-table-content">Acertos</td>
                                    </tr>
                                </table>

                            </div>

                        </div>

                    </div>

                </div>

            </div>


            <!-- SEU PROGRESSO -->

            <div id="progresso-container" style="display: none;">

                <!-- RANKING -->

                <div id="progresso">

                    <!-- TITULO DO RANKING -->

                    <div class="titulo-progresso">
                        <h1>SEU PROGRESSO</h1>
                    </div>

                    <div class="conteudo">

                        <div class="card-progresso">

                            <h2 class="tituloResposta">Suas Ultimas Tentativas <p>Recarregue a página para atualizar o gráfico</p></h2>

                            <div class="divGraficoProgresso">
                                <canvas id="myChartProgresso"></canvas>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js">

    </script><script src="../assets/script/quiz.js" async></script>


</body>

</html>

<script>


    let proximaAtualizacao;
    let idUsuario;

    window.onload = function () {
        idUsuario = sessionStorage.ID_USUARIO;
        obterDadosGraficoProgresso(idUsuario);
        validarSessao();
        // ranking();
        
    };

    function obterDadosGraficoProgresso(idUsuario) {
        if (proximaAtualizacao != undefined) {
            clearTimeout(proximaAtualizacao);
        }

        fetch(`/usuario/ultimosResultados/${idUsuario}`, { cache: 'no-store' })
            .then(function (response) {
                if (response.ok) {
                    response.json().then(function (resposta) {
                        console.log(`Dados recebidos: ${JSON.stringify(resposta)}`);
                        resposta.reverse();

                        plotarGraficoProgresso(resposta, idUsuario);
                    });
                } else {
                    console.error('Nenhum dado encontrado ou erro na API');
                }
            })
            .catch(function (error) {
                console.error(`Erro na obtenção dos dados p/ gráfico: ${error.message}`);
            });
    }

    function plotarGraficoProgresso(resposta, idUsuario) {
        console.log('Iniciando plotagem do gráfico...');

        let labels = [];
        let dados = {
            labels: labels,
            datasets: [
                {
                    label: 'Acertos',
                    data: [],
                    fill: false,
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(51, 107, 176, 0.678)',
                    tension: 0.1
                }

            ]
        };

        console.log('----------------------------------------------');
        console.log('Estes dados foram recebidos pela funcao "obterDadosGrafico" e passados para "plotarGrafico":');
        console.log(resposta);

        const tentativas = ['Última', 'Penúltima', 'Antepenúltima', 'ultima 4º', 'ultima 5º', 'ultima 6º', 'ultima 7º'];

        for (let i = 0; i < resposta.length; i++) {
            let registro = resposta[i];
            labels.unshift(tentativas[i]);
            dados.datasets[0].data.push(registro.acertos);
        }

        console.log('----------------------------------------------');
        console.log('O gráfico será plotado com os respectivos valores:');
        console.log('Labels:');
        console.log(labels);
        console.log('Dados:');
        console.log(dados.datasets);
        console.log('----------------------------------------------');

        const config = {
            type: 'bar',
            data: dados,
        };

        let myChart = new Chart(
            document.getElementById(`myChartProgresso`),
            config
        );

        // setTimeout(() => atualizarGrafico(idUsuario, dados, myChart), 2000);
    }


//     function atualizarGrafico(idUsuario, dados, myChart) {
//     fetch(`/usuario/ultimosResultadosTempoReal/${idUsuario}`, { cache: 'no-store' })
//         .then(function (response) {
//             if (response.ok) {
//                 response.json().then(function (novoRegistro) {
//                     if (novoRegistro === null || novoRegistro === undefined) {
//                         console.log("Nenhum dado encontrado. O gráfico não será atualizado.");
//                         // Agendar a próxima atualização
//                         proximaAtualizacao = setTimeout(() => atualizarGrafico(idUsuario, dados, myChart), 2000);
//                         return;
//                     }
//                     console.log(`Dados recebidos: ${JSON.stringify(novoRegistro)}`);
//                     console.log(`Dados atuais do gráfico:`);
//                     console.log(dados);

//                     // Verificar se há novos dados
//                     if (novoRegistro !== dados.datasets[0].data[dados.datasets[0].data.length - 1]) {

//                         // Adicionar o novo número de acertos aos dados
//                         dados.datasets[0].data.push(novoRegistro);
//                         // Atualizar o gráfico
//                         myChart.update();
//                     } else {
//                         console.log("Não há novos dados. O gráfico não será atualizado.");
//                     }

//                     // Agendar a próxima atualização
//                     proximaAtualizacao = setTimeout(() => atualizarGrafico(idUsuario, dados, myChart), 2000);
//                 });
//             } else {
//                 console.error('Nenhum dado encontrado ou erro na API');
//                 // Agendar a próxima atualização
//                 proximaAtualizacao = setTimeout(() => atualizarGrafico(idUsuario, dados, myChart), 2000);
//             }
//         })
//         .catch(function (error) {
//             console.error(`Erro na obtenção dos dados p/ gráfico: ${error.message}`);
//             // Agendar a próxima atualização
//             proximaAtualizacao = setTimeout(() => atualizarGrafico(idUsuario, dados, myChart), 2000);
//         });
// }

</script>